.page {
    font-family: 'Inter', Arial,  sans-serif;;
    -webkit-font-smoothing: antialiased;
    background-color: #2a2c2f;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    margin: 16px 0 24px;
    display: flex;
    flex-direction: column;
  
    min-width: calc(100% - 15px);
  }

@media screen and (min-width: 768px) {
    .page{
       margin: 28px 0 24px;
       }
}



