.cover__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* or 109% */
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: #ffffff;
  }
  
  @media screen and (min-width: 768px) {
      .cover__subtitle{
          font-size: 18px;
          line-height: 22px;
      }
  }