.cover__background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
}

.cover__background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__background:hover::before{
    opacity: 0.8;
}
